#site-navigation.main-navigation {
	position: fixed;
    left: 0;
    top: 0;
    width: 20em;
    background-color: #333;
    height: 100%;
	overflow-y: scroll;
	margin-left: -20em;
	padding: 0;
	padding-top: 50px;
	-webkit-box-shadow: 1px 0 5px 0 rgba(0,0,0,.1);
	box-shadow: 1px 0 5px 0 rgba(0,0,0,.1);

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		list-style: none;
		list-style-type: none;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 2.5em;
			left: -999em;
			z-index: 99999;
			background: #fff;
			min-width: 250px;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
		padding: .5em 1em;

	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

button.menu-toggle {
	order: 1;
	width: 3em;
	height: 3em;
	padding: 0;
	border-radius: 0;
	background-color: #000;
	box-shadow: none;
	font-size: 1em;
	margin-right: 1em;
	border: 1px solid rgba(0,0,0,.1);
	.dashicons {
		color: #fff;
		font-size: 2em;
		line-height: 1em;
		width: 1em;
		height: 1em;
	}
}

// body.admin-bar {
// 	.menu-toggle {
// 		top: 52px;
// 	}
// }
//
// @media screen and (max-width: 782px) {
// 	body.admin-bar {
// 		.menu-toggle {
// 			top: 66px;
// 		}
// 	}
// }

// @media screen and (min-width: 37.5em) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.show-menu #site-navigation.main-navigation {
	display: block;
	margin-left: 0;
	z-index: 99999;
}
